body{
    background-color: #034159;
    color: #038c3E;
    position:static;
    text-align: center;
    margin: 0;
    padding: 0;
}
#navBar{
    position: sticky;
    width: 100%;
    display: inline;
    height: 20px;
    z-index: -1;
}
#bg1{
    margin: 0;
    padding: 0;
    position:absolute;
    background-image:url("resources/20383553.jpg");
    height: 500px;
    width: 100%;
    top: 15px;
    z-index: 5;

}
#bg1title{
    margin-top: 0;
    z-index: 5;
}

#bg2{
    z-index: 5;
    top: 550px;
    position: absolute;
    background-color: #034159;
    height: 500px;
    width: 90%;
    margin-left: 5%;
    padding: 0;
    border: 2px solid #038c3E;
}
#bg2title{
    margin-top: 0;
    z-index: 5;
}
#bg3{
    z-index: 5;
    top: 1100px;
    position: absolute;
    background-color: #034159;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
}
#bg3title{
    margin-top: 0;
    z-index: 5;
}