@font-face {
    font-family: "Inconsolatablack";
    src: url("resources/fonts/Inconsolata-Black.ttf");
}
@font-face {
    font-family: "Inconsolataregular";
    src: url("resources/fonts/Inconsolata-Regular.ttf");
}
@font-face {
    font-family: "JosefinSans";
    src: url("resources/fonts/JosefinSans-Regular.ttf");
}
/*Make josefinsans work again*/

html{
    scroll-behavior: smooth;
}

body{
    display: block;
    /*background-color: #747F7F;*/
    background-color: #4a5050;
    /*color: #72F2EB;*/
    color: #bbfff6;
    position:static;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: JosefinSans, Inconsolataregular, sans-serif;
}
img{
    height: 300px;
}
/* #FF4858, #1B7F79, #00CCC0, #72F2EB, #747F7F */
#topnav {
    z-index: 99999;
    width: 100%;
 
    position: fixed;
    top: 0;
    left: 0;
 
    background-color: #1B7F79;
 
    font-family: Inconsolatablack, sans-serif;
    font-size: 18px;
 }
 .nav-link {
    display: inline-block;
    width: 100px;
    height: 55px;
 
    color: #72F2EB;
 
    /* centering text */
    text-align: center;    /* horizontally */
    line-height: 55px;     /* vertically */
    
    text-decoration: none;
 }
 #logo {
    width: 120px;
 
    background-color: #FF4858;
    
    font-weight: bold;
 }
 #about {
    position: absolute;
    top: 0;
    right: 0;
 }
#bg1{
    margin: 0;
    padding: 0;
    position:absolute;
    background-image:url("resources/20383553.jpg");
    height: 500px;
    width: 100%;
    top: 55px;
    z-index: 5;
    font-family: "JosefinSans", serif;
    

}
#bg1title{
    margin-top: 0;
    z-index: 5;
}

#bg2{
    z-index: 5;
    top: 600px;
    position: absolute;
    /*background-color: #747F7F;*/
    background-color: #4a5050;
    height: 550px;
    width: 90%;
    margin-left: 5%;
    padding: 0;
    border: 2px solid #00CCC0;
}
#bg2title{
    margin-top: 0;
    z-index: 5;
}
#bg3{
    z-index: 5;
    top: 1200px;
    position: absolute;
    /*background-color: #1B7F79;*/
    background-color: #125751;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
}
#bg3 ul{
    list-style-type:none;
}
#bg3title{
    margin-top: 0;
    z-index: 5;
}